!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{lang: "en"}
  /<![endif]
  %head
    %meta{charset: "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= data.page.title
    / Included CSS Files
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    / bootsrap cdn ^
    = stylesheet_link_tag "overrides.css", "bootstrap.min.css"
    = javascript_include_tag "foundation/modernizr.foundation"
    %link{rel: "alternate", type: "application/rss+xml", title: "RSS Feed", href: "feed.xml"}

    
  %body{class: page_classes}
    .row
      .span12
        %h2
          %a{href: "/"}= data.site.title
        %hr
        %h2
          %a{href: "http://serknight.herokuapp.com/2013/03/24/resume.html"}= data.site.title2
        %hr
      .span8.offset1
        = yield
      / Application Javascript, safe to override
      = javascript_include_tag "app"
      .well.span4
        .panel
          - if paginate
            %p
              Page
              = page_number
              of
              = num_pages
        %dl.tabs
          %dd.active
            %a{href: "#recent"} Recent Articles
          %dd
            %a{href: "#tags"} Tags
        %ul.tabs-content
          %li#recentTab.active
            %h4 Recent Articles
            %ul.disc
              - blog.articles[0...10].each do |article|
                %li
                  %a{href: "#{article.url}"}
                    = article.title
                  %span= article.date.strftime('%b %e')
          </br ></br ><p><img src="http://m.c.lnkd.licdn.com/media/p/3/000/100/2ed/0ef6111.jpg" height="450" width="450"> </p>
          %li#tagsTab
            %h4 Tags
            %ul.disc
              - blog.tags.each do |tag, articles|
                %li
                  %a{href: "#{tag_path tag}"}
                    = "#{tag} (#{articles.size})"