---
title: Welcome to Middleman Foundation
pageable: true
per_page: 10
---
.row
  .twelve.columns
    - page_articles.each_with_index do |article, i|
      .panel
        %h3
          = link_to article.title, article
          %span= article.date.strftime('%b %e')
        = find_and_preserve do
          = article.summary

.row
  .six.columns
    - if prev_page
      .panel
        %p
          = link_to 'Previous page', prev_page

  .six.columns
    - if paginate
      - if next_page
        .panel
          %p= link_to 'Next page', next_page